<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FloatLabeledEntry.iOS" version="1.1.1" targetFramework="xamarinios10" />
  <package id="FloatLabeledEntry.iOS.Dialog" version="1.0.0" targetFramework="xamarinios10" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="xamarinios10" />
  <package id="iTextSharp" version="5.5.10" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.TextToSpeech" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.LoginScreen" version="1.5.0" targetFramework="xamarinios10" />
</packages>